
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
    width: auto;
    height: auto;
}

#titulo1{
    color: white; 
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    position: relative;
    top: 90px; left: 60px;
}

#cabecalho ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 60px;
    list-style-type: none
}

#cabecalho img{
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 50px; right: 60px;
}