* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#cabecalho {
    background-color: aqua;
    height: 190px;
    width: 100%;
    padding: 0px;
}

#box-about {
    background-color: #1E2836;
    color: #ffff;
    width: 710px;
    height: 321px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.titulo-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#titulo-about {
    font-size: 30px;
    font-weight: bold;
}

#icone-about {
    width: 45px;
    height: 45px;
}

#texto-about {
    text-align: justify;
    margin-right: 60px;
}