* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E2836;
}

#cabecalho{
    height: 190px;
    width: 100%;
    display: inline;
}

#box-help {
    background-color: #1E2836;
    color: #ffff;
    width: 710px;
    height: 321px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#title-help{
    font-size: 30px;
    font-weight: bold;
}

#help-img{
    width: 45px;
    height: 45px;
}

.text-help {
    text-align: justify;
    margin-right: 60px;
}

hr {
    background-color: #fff;
    border: 0px;
    margin-left: 23px;
    width: 666px;
    height: 3px;
}

#box-about {
    background-color: #1E2836;
    color: #ffff;
    width: 710px;
    height: 321px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.titulo-icone {
    display: flex;
    justify-content: space-between;
}

